body {
	background: #e0e5ec;
  }
 
    button{
      width:250px;
      height: 80px;
      color:rgb(0, 0, 0);
      background: #ffffff;
      font-size: 20px;
      border:none;
      border-radius: 20px;
      box-shadow: 0 4px 16px rgba(0,79,255,0.3);
      transition:0.3s;
      position:relative;
      margin: 10px 10px 0px 0px;
      top:60px;
      left: 140px;
      transform: translate(-50%,-50%);
}
    button:focus {
      outline:0;
}
    
button:hover{
      background: rgba(0, 0, 0, 0.9);
      color: #e0e5ec;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0,79,255,0.6);

      
}
.right button {
  width: 200px;
  height: 150px;
  position: relative;
  margin: 30px 10px 0px 0px;
  top: 80px;
}

.under button {
  width: 70%;
  height: 100px;
  position: relative;
  top: 80px;
  left: 50%;
 
}
 

/* img {
  width: 300px;
  height: 80px;
  object-fit: cover;
} */

